<div class="headline">
	<h3 class="headline_text">お気に入り</h3>
</div>

<%= render 'partials/sidebar', genres: @genres %>

<% if @posts.count > 0 %>
	<div>
    	<%= render 'partials/posts', posts: @posts %>
	</div>
<% else %>
	<div>
		<p>
			いいねしたアイテムがありません。<br>
			気になるアイテムがある場合いいねすることをおすすめします。
		</p>
	</div>
<% end %>