<h4>フォローしているユーザーのアイテム</h4>

<%= render 'partials/sidebar', genres: @genres %>

<% if @users.count > 0 %>
	<% @users.each do |user| %>
    	<% @posts = Post.where(user_id: user.id).order("created_at DESC") %>
    	<div>
        	<%= render 'partials/posts', posts: @posts %>
    	</div>
	<% end %>
<% else %>
	<div>
		<p>
			まだ誰もフォローしていません。<br>
			気になる人がいる場合フォローすることをおすすめします。
		</p>
	</div>
<% end %>
