<%= render 'partials/sidebar', genres: @genres %>

<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>

<h4>おすすめ</h4>

<div>
    <%= render 'partials/posts', posts: @posts %>
</div>