<%= render 'partials/sidebar', genres: @genres %>

<div class="col-xs-10">
	<div class="top">
		<div class="top_text assey">
			<p><span class="top_head">A</span>ssey</p>
		</div>
		<div class="top_text sanzen">
			<p><span class="top_head">S</span>anzen</p>
		</div>
		<div class="top_text free">
			<p><span class="top_head">f</span>ree</p>
		</div>
		<div class="top_text market">
			<p><span class="top_head">M</span>arket</p>
		</div>
	</div>

	<div class="headline">
		<h3 class="headline_text">おすすめ</h3>
	</div>

	<div>
	    <%= render 'partials/posts', posts: @posts %>
	</div>
</div>