<div class="user_information">
	<div>
		<%= render 'partials/user', user: @user %>
	</div>
</div>

<div class="addproduct">
	<%= link_to "", new_users_post_path, class:'glyphicon glyphicon-plus-sign', :style=>"color:gray;" %>
</div>

<div>
	<%= render 'partials/posts', posts: @posts %>
</div>
