// Place all the styles related to the admins::Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_post_price{
	display: inline-block;
	margin-left: 50px;
}

.admin_post_status{
	display: inline-block;
	margin-left: 50px;
}

.admin_posts{
	margin-top: 30px;
}