<div class="col-xs-2">
	<div class="sidebar">
		<% genres.each do |genre| %>
		    <div class="genre-name">
		        <%= link_to admins_genre_path(genre.id), :style=>"color:white;" do %>
					<%= genre.kind %>
				<% end %>
		    </div>
		<% end %>
	</div>
</div>