<div class="col-xs-2">
	<div class="sidebar">
		<% genres.each do |genre| %>
		 	<div class="genre-name"><a href="<%= users_genre_path(genre.id) %>"><%= genre.kind %></a></div>
		<% end %>
		<% if user_signed_in? %>
		<div class="genre-name"><%= link_to "お気に入り", users_posts_favorite_path %></div>
		<div class="genre-name"><%= link_to "フォローアイテム", users_posts_follow_path %></div>
		<% end %>
	</div>
</div>