<table class="table table-hover table-inverse users_table">
	<thead>
		<tr>
			<% if admin_signed_in? %>
				<th>ID</th>
				<th></th>
				<th>名前</th>
				<th><i class="fab fa-twitter"></i></th>
				<th><i class="fab fa-instagram"></i></th>
				<th></th>
			<% else %>
				<th></th>
				<th>名前</th>
				<th><i class="fab fa-twitter"></i></i></th>
				<th><i class="fab fa-instagram"></i></th>
				<th></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% users.each do |user| %>
			<tr class="user_<%= user.id %>">
				<%= render 'partials/users_content', user: user %>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="paginate">
    <%= paginate @users %>
</div>