<div class="headline">
		<h3 class="headline_text">ジャンル編集</h3>
	</div>

<%= form_for @genre, url: admins_genre_path(@genre.id) do |f| %>
			<%= f.text_field :kind %>
			<%= f.select :status, Genre.statuses.keys.to_a %>
			<%= f.submit '変更' %>
<% end %>