<h2><%= @genre.kind %></h2>

<div class="sidebar">
    <h3 class="genre-title">ジャンル</h3>
    <% @genres.each do |genre| %>
        <div class="genre-name">
            <a href="<%= admins_genre_path(genre.id) %>"><%= genre.kind %></a>
        </div>
    <% end %>
</div>

<div>
    <%= render 'partials/posts', posts: @posts %>
</div>