<div class="row">
	<%= render 'partials/admin_sidebar', genres: @genres %>

	<div class="col-xs-10">
		<div>
		    <%= render 'partials/post', post: @post %>
		</div>

		<div class="comment_<%= @post.id %>">
		    <%= render 'partials/comment', {post: @post, comment: @comment} %>
		</div>
	</div>
</div>

