<div class="midasi">
  <h3 class="midasitext">投稿商品</h3>
</div>

<div>
    <%= render 'partials/post', post: @post %>
</div>

<div>
    <%= render 'partials/comment', {post: @post, comment: @comment} %>
</div>

