<div class="row">
	<%= render 'partials/admin_sidebar', genres: @genres %>

	<div class="col-xs-10">
		<div class="headline">
			<h3 class="headline_text">販売停止</h3>
		</div>

		<div>
		    <%= render 'partials/posts', posts: @posts %>
		</div>
	</div>
</div>