<%= render 'partials/sidebar', genres: @genres %>

<div class="col-xs-10">
	<div class="headline">
		<h3 class="headline_text"><%= @genre.kind %></h3>
	</div>

	<div>
	    <%= render 'partials/posts', posts: @posts %>
	</div>
</div>