<h2>フォロー</h2>

<% if @users.count > 0 %>
	<div>
		<%= render 'partials/users', users: @users %>
	</div>
<% else %>
	<div>
		<p>
			まだ誰もフォローしていません。<br>
			気になる人がいる場合フォローすることをおすすめします。
		</p>
	</div>
<% end %>