<div class="thanks">
	<div class="thanks_text">
		購入ありがとうございます。<br>
		またのご利用お待ちしております。<br>
		服で日常がより豊かになりますように。
	</div>
	<div class="history">
		購入履歴確認は<%= link_to "こちら", users_purchases_buy_path %>。
	</div>
</div>
