// Place all the styles related to the users::Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.post_price{
	display: inline-block;
	margin-left: 150px;
	text-align: right;
}

.post_status{
	display: inline-block;
	margin-left: 150px;
	text-align: right;
}

.favorites{
	display: inline-block;
	margin-left: 10px;
}

.posts{
	float: left;
  	margin-left: 3%;
  	margin-bottom: 40px;
}

.clearfix{
	text-align: center;
	margin-left: 150px;
}

.information_text{
	display: inline-block;
}

.information_label{
	display: inline-block;
	width: 80px;
}

.price_information{
	display: inline-block;
	margin-left: 190px;
}

.favorite{
	display: inline-block;
	margin-left: 10px;
}

.post{
	text-align: center;
}

.post_information{
	margin-left: 40%;
}

.post_button{
	text-align: right;
}

.form_comment{
	margin-top: 40px;
}

.post_form{
  width: 400px;
  height: 400px;
  background-color: black;
  color: white;
  margin: 30px auto 0 auto;
}

.new_post{
  margin-left: 50px;
  padding-top: 25px;
}

.post_field_text{
  color: black;
}

.jpy{
	color: white;
}

.new_post_button{
	color: black;
	margin-top: 20px;
}

