// Place all the styles related to the users::Purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comfirm_price{
	width: 200px;
	margin-left: 70%;
}

.confirm_button{
	text-align: center;
}

.status_button{
	text-align: center;
}