// Place all the styles related to the users::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
	display: inline-block;
}

.content_text{
	display: inline-block;
}

.content_label{
	display: inline-block;
}


.icon{
	margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.follow{
	text-align: center;
}

.infomation{
	text-align: center;
	font-size: large;
}

.name{
	text-align: center;
}

.profile{
	text-align: center;
}

.addproduct{
	text-align: right;
	font-size: xx-large;
}

.user_information{
	border-bottom: solid 5px gray;
}

.user_posts{
	margin-top: 40px;
}

