// Place all the styles related to the users::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
	display: inline-block;
}

.content_text{
	display: inline-block;
}

.content_label{
	display: inline-block;
}


.icon{
	margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.follow{
	text-align: center;
}

.infomation{
	text-align: center;
	font-size: large;
}

.name{
	text-align: center;
	color: gray;
}

.profile{
	text-align: center;
}

.addproduct{
	text-align: right;
	font-size: xx-large;
}

.user_information{
	border-bottom: solid 5px gray;
}

.user_posts{
	margin-top: 40px;
}

.instagram{
	width: 30%;
	text-align: center;
}

.about{
	background-color: black;
	margin: 100px 0 100px 10%;
	width: 80%;
	height: 400px;
	color: white;
	text-align: center;
}

.about_headline{
	text-align: left;
	font-size: 40px;
}

.about_text{
	font-size: 30px;
	margin-top: 10%;
}

.about_asfm{
	font-size: 20px;
	margin-top: 8%;
}

.last{
	font-size: 50px;
	padding-top: 18%;
}

#map{
	margin-left: 12%;
}

.user_image{
	border-radius: 50%;
}

.profile_edit{
  width: 400px;
  height: 450px;
  background-color: black;
  color: white;
  margin: 50px auto 0 auto;
}

.profile_edit_content{
  margin-left: 120px;
  padding-top: 30px;
}

.edit_actions{
	color: black;
	margin-top: 20px;
}