<% if @user_or_post == "1" %>
	<div class="col-xs-10">
		<div class="headline">
			<h3 class="headline_text">検索結果</h3>
		</div>
		<div>
			<%= render 'partials/users', users: @users %>
		</div>
	</div>
<% else %>
	<%= render 'partials/sidebar', genres: @genres %>
	<div class="col-xs-10">
		<div class="headline">
			<h3 class="headline_text">検索結果</h3>
		</div>
		<div>
		    <%= render 'partials/posts', posts: @posts %>
		</div>
	</div>
<% end %>
